body {
    background-color: #0D2539;
    font-family: 'Ubuntu';
    color: white;
}

.button{

    display:inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    vertical-align: middle;
    width: 90%;
}

.button-small{

    display:table-cell;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 8px;
    cursor: pointer;
}


#btn-detectar-diferencias, #btn-detectar-rostros{
    font-size: 24px;
    width: 100%;
}

.image-title{
    font-size: 24px;
    color: white;
}

.title{
    font-size: 30px;
    color: white;

}

.img-container{
    text-align: center;
}

#index-div{
    text-align: center;
}

.small-title{
    padding: 8px;
    margin: 2px;
}

#det_dif{
    font-size: 24px;
    width: 95%;
    margin:5px;
}

#det_ros{
    font-size: 24px;
    width: 95%;
    margin:5px;
}