
<html>
<head>
    <title>Inteligencia Artificial</title>


    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    {% block dependencies %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    {% endblock %}

</head>
<body>
    <div class="page-header" style="text-align: center;">
        <img src="{% static 'utn.png' %}" height="12%"> 
        <h1 class="small-title">Inteligencia Artificial</h1>
        <h4 class="small-title">Trabajo Práctico Integrador</h4>    
        <h4 class="small-title">Benito, Federico - Cáceres, Maximiliano - Populin, Stefano </h4>
    </div>
    <div class="content container">
        <div>

            
        </div>
        <div class="row">
            
                {% block content %}
                {% endblock %}
            
        </div>
    </div>
    <footer></footer>
</body>
</html>