
{% extends 'base.html'%}



{% block content %}

<div class="row index-div">

    <form action="localhost:8000/ia/" method="POST" enctype="multipart/form-data">
        
            <div class="row">
            
            <div class="col-xs-6 img-container">
                <div class="file-field">
                    <span class="image-title">Imagen 1<label class="btn btn-sm button-small">
                            Seleccionar <input type="file" id="img1" style="display: none;">
                        </label>
                    </span>
                </div>
                <img id="img-img1" src="http://localhost:8000/ia/media/imagen-default.png" alt="" style="width: 65%;">
            </div>

        
            <div class="col-xs-6 img-container">
                <div class="file-field">
                    <span class="image-title">Imagen 2<label class="btn btn-sm button-small">
                        Seleccionar <input type="file" id="img2" style="display: none;">
                    </label>
                    </span>
                </div>
                
                <img id="img-img2" src="http://localhost:8000/ia/media/imagen-default.png" alt="" style="width: 65%;">
            </div>
        </div>
        
        <br>
        <a class="btn btn-block btn-lg button" id="btn-detectar-diferencias">Buscar diferencias</a>


    </form>
    <br>
    <div style="text-align: center;">
        <div class="row">
            <div class="col-xs-12">
                <p class="title">Diferencias</h4>
                    <br>
                    <br>
                <img id="img-resultado" src="http://localhost:8000/ia/media/imagen-default.png" alt="" style="width: 70%;">
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <script>
        $(document).ready(function(){
            // Click en el botón 
            $("body").on("click", "#btn-detectar-diferencias", function(){
                
                $('#img-resultado').prop('src', "http://localhost:8000/ia/media/espere.gif")
               
                let formData = new FormData();
                
                let img1 = $('#img1')[0].files[0];
                let img2 = $('#img2')[0].files[0];
                


                formData.append('img1', img1);
                formData.append('img2', img2);

                $.ajax({
                    url: "detectar_diferencias",                    
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#img-resultado').prop('src', "http://localhost:8000/ia/media/proceso/"+ data.ruta)
                        
                    },
                    error: function (xhr, status) {
                        console.log("No se han podido subir las imágenes");
                        console.log(xhr);
                        console.log(status);
                    }
                });
            });



            function readURL(img_input, img_div) {

                if (img_input.files && img_input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(img_div).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(img_input.files[0]);
                }
            }

            $("#img1").change(function () {
                readURL(this, '#img-img1');
            });

            $("#img2").change(function () {
                readURL(this, '#img-img2');
            });

        });
    </script>

</div>

{% endblock %}  