
{% extends 'base.html'%}



{% block content %}

<div class="row index-div">

    <form action="localhost:8000/ia/" method="POST" enctype="multipart/form-data">
        
            <div class="row">
            
            <div class="col-xs-12 img-container">
                <div class="file-field">
                    <span class="image-title">Imagen<label class="btn btn-sm button-small">
                            Seleccionar <input type="file" id="imagen-input" style="display: none;">
                        </label>
                    </span>
                </div>
                <img id="imagen" src="http://localhost:8000/ia/media/imagen-default.png" alt="" style="width: 50%;">
            </div>

        </div>
        
        <br>
        <a class="btn btn-block btn-lg button" id="btn-detectar-rostros">Detectar rostros</a>


    </form>
    <br>
    <div style="text-align: center;">
        <div class="row">
            <div class="col-xs-12">
                <p class="title">Rostros encontrados</h4>
                    <br>
                    <br>
                <img id="img-resultado" src="http://localhost:8000/ia/media/imagen-default.png" alt="" style="width: 70%;">
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <script>
        $(document).ready(function(){
            // Click en el botón 
            $("body").on("click", "#btn-detectar-rostros", function(){
                
                $('#img-resultado').prop('src', "http://localhost:8000/ia/media/espere.gif")
               
                let formData = new FormData();
                
                let img = $('#imagen-input')[0].files[0];


                formData.append('img', img);
                

                $.ajax({
                    url: "detectar_rostros",                    
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data)
                        $('#img-resultado').prop('src', "http://localhost:8000/ia/media/proceso/"+data.ruta)
                        
                    },
                    error: function (xhr, status) {
                        console.log("No se han podido subir la imagen");
                        console.log(xhr);
                        console.log(status);
                    }
                });
            });



            function readURL(img_input, img_div) {

                if (img_input.files && img_input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(img_div).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(img_input.files[0]);
                }
            }

            $("#imagen-input").change(function () {
                readURL(this, '#imagen');
            });


        });
    </script>

</div>

{% endblock %}  