{% extends 'base.html'%}



{% block content %}

<div class="row index-div">
    <div class="col-xs-12 col-sm-6">
        <a class="btn btn-block btn-lg button" id="det_dif" href="detectar_diferencias">Detectar diferencias</a>
    </div>
    <div class="col-xs-12 col-sm-6">
        <a class="btn btn-block btn-lg button" id="det_ros" href="detectar_rostros">Detectar rostros</a>
    </div>
</div>

{% endblock %}